/* Body elements */
body {
    font-family: "Helvetica Neue";
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
}

/* Container id elements */
#container {
    background-color: #eee;
    margin-right: 250px;
    margin-left: 250px;
    padding: 20px;
    border: 1px solid #666;
}

/* H1 elements */
h1 {
    color: #666;
    font-size: 1.6em;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 40px;
    text-decoration: underline;
}

/* H2 elements */
h2 {
    color: #000;
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 100px;
}

/* H3 elements */
h3 {
    color: #666;
    font-size: 1.0em;
    font-weight: 500;
    display: inline;
    margin-right: 5px;
}

/* Strong elements */
strong {
    color: #666;
}

/* Image elements */
img {
    width: 850px;
    border: 1px solid #666;
}

/* Navigational elements */
nav {
    position: absolute;
    margin-top: -200px;
    margin-left: 20px;
}

/* List item elements */
li {
    display: inline;
}

/* Btn class elements */
.btn {
	background-color: #fff;
	border: 1px solid #666;
	display: inline-block;
	color: #666;
	padding: 8px;
	text-decoration: none;
	margin-right: 10px;
}

/* Btn class hover elements */
.btn:hover {
	background-color: #eee;
	color: red;
}

/* Input id elements */
#input {
   margin-top: -80px;
   width: 200px;
   position: absolute;
}

/* Form_btn id elements */
#form_btn {
    margin-left: 220px;
    margin-top: -79px;
    position: absolute;
}

/* Copyright id elements */
#copyright {
    margin-left: 300px;
}
