/* Body elements */
body {
    font-family: "Helvetica Neue";
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
}

/* Container id elements */
#container {
    background-color: #eee;
}

/* H1 elements */
h1, p {
    color: #000;
}


